.vertical-div {
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    margin: auto 2px;
    border-radius: 18px;
    transition: all 0.5s;
    filter:brightness(0.5);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.vertical-div:hover{
    scale: 1.02;
    filter:brightness(1)
}

.vertical-div-container{
    height: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

  
.text-container{
  display:flex;
  justify-content:center;
  align-items:flex-end;
}

  
  #img1{
    background-image: url(/images/smashMain.png);
    height: 37%;
    bottom: 42%;
    left: 8%;
    width: 40%;
    outline: thick solid;
    outline-color: red;
  }
  
  #img2{
    background-image: url(/images/braw.jpeg);
    height: 30%;
    bottom: 8%;
    left: 8%;
    width: 37%;
    outline: thick solid;
    outline-color: blue;
  }
  #img3{
    background-image: url(/images/scorpion.jpg);
    height: 27%;
    bottom: 8%;
    left: 47%;
    width: 40%;
    outline: thick solid;
    outline-color: yellow;
  }
  #img4{
    background-image: url(/images/tekken.jpg);
    height: 26%;
    bottom: 59%;
    left: 50%;
    width: 40%;
    outline: thick solid;
    outline-color: green;
  }
  #img5{
    background-image: url(/images/Thumbnail-3.png);
    height: 17%;
    bottom: 38%;
    left: 50%;
    width: 40%;
    outline: thick solid;
    outline-color: purple;
  }

  