#rankFilter{
    margin-top: 76px;
}
.rankFilterSelect{
    margin-bottom: 5px;
    margin-top: 5px;
}
#firstPlace{
    background: linear-gradient(-45deg, #996d2c, #f7e589);
    color: #121212;
}
#secondPlace{
    background: linear-gradient(-45deg, #363636, #DCDCDC);
    color: #121212;
}
#thirdPlace{
    background: linear-gradient(-45deg, #662E00, #D47800);
        color: #121212;
}
.defaultPlace{
    background: linear-gradient(-45deg, #121212, #414141);
    color: white;
}
.placeRank{
    text-shadow: 2px 2px 4px black;
    text-align: center;
}
td{
    max-width: fit-content;
    text-align: left;
    font-weight: bolder;
}
#orderPlace, .score{
    text-align: center;
}
#filterGame{
    margin: 10px;
}
